* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.About__section {
  width: 100%;
  padding: 5rem;
}

.About__Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 3rem;
}

.first-paragraph {
  font-size: 3.5rem;
  line-height: 1.3;
  font-weight: 700;
  font-family: "Volkhov", serif;
}

/* text */
.About__Text {
  margin-top: 5rem;
  margin-left: 4rem;
  max-width: 500px;
  border-radius: 9px;
  box-shadow: 5px 10px 18px #888888;
}

.second-paragraph {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.11rem;
  line-height: 1.9;
  padding: 2.5rem;
}

.About__header {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}
