/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
} */
.footer-container {
  text-align: center;
  font-family: Poppins;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.footer-container .footer-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
.footer-container .footer-row .footer-content {
  width: 25%;
  padding: 20px;
}
.footer-container .footer-row .footer-content h2 {
  margin: 10px 0;
  color: #080809;
  font-size: 20px;
  font-weight: 900;
  text-align: left;
}
.footer-container .footer-row .footer-content p {
  font-size: 16px;
  color: #5e6282;
  text-align: left;
}
.footer-container .footer-row .footer-content ul {
  list-style-type: none;
}
.footer-container .footer-row .footer-content ul li a {
  display: block;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #5e6282;
}
.footer-container .footer-row .right {
  width: 100%;
  margin: 25px auto;
}
@media screen and (max-width: 700px) {
  .footer-container .footer-row {
    flex: none;
  }
  .footer-container .footer-row .footer-content {
    width: 100%;
  }
}
