* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 100;
    padding: 0.5rem 1rem;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.logo img {
   width: 150px; 
}

.search {
    margin-top: 10px;
}

input[type="text"] {
    width: 396px;
    font-family: "poppins", sans-serif;
    color: black;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.29);
    padding: 0.5rem 0.8rem;
    border-radius: 999px;
    background-color: #fff1da;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    padding: 15px;
    list-style: none;
    /* display: flex; */
    font-family: "Poppins", sans-serif;
}

nav li button {
    width: 80px;
    border: 0.5px solid black;
    padding: 5px;
    background-color: #fff1da;
    font-size: inherit;
}

.arrow-down {
    border: solid rgb(46, 45, 45);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    margin-left: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.fa-search {
    /* background-color: #f1ede5; */
    color: #212832;
    left: auto 20px;
    top: auto; 
    position: absolute;   
}

nav a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: black;
    font-weight: normal;
}

a:hover {
    color: brown;
    transition: ease-in-out 0.5s;
    box-shadow: #fdcea7 0px 5px 8px;
    background-color: #fff1da;
}

nav button:hover {
    color: brown;
    transition: ease-in-out 0.5s;
    cursor: pointer;
    box-shadow: #fdcea7 0px 5px 8px;
    border: 2px solid #fdcea7;
}
.hamburger {
    display: none;
}

main {
    position: relative;
    align-items: center;
    margin-top: 200px;
    /* height: 100vh; */
}

main h1.text {
    /* margin: auto; */
    text-align: center;
    padding: 20px;
    font-family: "poppins", sans-serif;
}

.box-container {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    margin: auto;
    /* padding: 30px; */
    
}
.decore img {
    float: right;
    /* background-size: contain; */
    height: 200px;
    width: 500px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1
}

.box {
    border: 2px solid #fff1da;
    /* background-image: url('assest\images\Decore.png'); */
    border-radius: 15px;
    box-shadow: #fdcea7 0px 3px 8px;
    flex: 1;
    flex-wrap: wrap;
    width: 150px;
    height: 50vh;
    padding: 5px;
    row-gap: 1px;
    margin: 10px;
    box-sizing: border-box;
    position: relative;
}
.box:hover {
    transition: ease-in-out 0.5s;
    cursor: pointer;
    box-shadow: #fdcea7 8px 10px 12px;
    /* border: 2px solid red; */
}

 .circle img {
    /* border-radius: 100%; */
    /* height: 100px; */
    width: 100px;
    text-align: center;
    justify-content: center;
    object-position: center;
    margin: 10pxauto;
    padding: 5px;
    /* background-position: center; */
}
/* .circle img { */
    /* width: 120px; */
    /* padding: 20px; */
    /* object-fit: contain; */
    /* border-radius: 100px;
} */
.circle img .change {
    filter: rgb(10, 114, 133);
}
.box h3 {
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    color: #fdcea7;
    font-family: "poppins",
    sans-serif;
    /* margin-top: 10px; */
}

.box p {
    text-align: center;
    padding: 5px;
    font-family: "poppins", sans-serif;
    font-size: 12px;
}
.box p.select {
    border: none;
    padding: 5px;
    /* margin: 30px; */
    justify-content: center;
    
}

.box p.select a {
    color: #fdcea7;
    text-decoration: none;
    font-family: inherit;
    font-weight: 900;
    text-align: center;
    list-style-type: none;
    transition: 0.5s;
    font-size: 14px;
}

.box p.select a:hover {
    color: brown;
    background-color: wheat;
    transition: ease-in-out 0.5s;
}

footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 1px;
}
footer:hover {
    transition: ease-in-out 0.5s;
}
.footer-container {
    text-align: center;
    font-family: "Poppins", sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.footer-container .footer-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;
}

.footer-container .footer-row .footer-content {
    width: 25%;
    padding: 20px;
}

.footer-container .footer-row .footer-content h4{
    margin: 10px 0;
    color: #080809;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
}

.footer-container .footer-row .footer-content ul {
    list-style-type: none;
}

.footer-container .footer-row .footer-content ul li a {
    display: block;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    color: #5e6282;
}

.footer-container .footer-row .right {
    width: 100%;
    margin: 25px auto;
}

@media screen and (max-width: 700px) {

    .box-container {
        flex-direction: column;
    }
    main h1.text{
        font-size: 20px;
    }
    .box p.select a {
        font-size: 12px;
    }
    .box h3 {
        font-size: 14px;
    }
}

