.main {
    display: block;
    width: 90%;
    /* align-items: center; */
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-rows: min-content; */
    /* grid-template-areas: 'a b'; */
    /* gap: 0 8.75rem; */
}

@media (min-width: 1071px) {
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


/* TODO */

.img-round {
    border-radius: 50%;
}

.icon {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.icon img {
    justify-self: center;
    align-self: center;
}