.progress-bar {
    background-color: #F5F5F5;
    border-radius: var(--progress-radius);
    height: 0.3125rem;
    width: 9.75rem;
}

.progress-value {
    border-radius: var(--progress-radius);
    background-color: var(--purple);
    height: 100%;
    width: 40%;
}

progress::-ms-fill {
    background-color: var(--purple);
    border-radius: var(--progress-radius);
}

progress {
    height: 0.3125rem;
    width: 9.75rem;
    background-color: #F5F5F5;
    border-radius: 0.625rem;
    -webkit-appearance: none;
}

progress::-moz-progress-bar {
    background-color: var(--purple);
    border-radius: var(--progress-radius);
}

progress::-webkit-progress-bar {
    border-radius: var(--progress-radius);
    background-color: #F5F5F5;
}

progress::-webkit-progress-value {
    border-radius: var(--progress-radius);
    background-color: var(--purple);
}