.right {
    max-width: max-content;
    height: min-content;
    display: block;
    width: 100%;
    grid-template-rows: 13.6875rem 1fr;
    grid-template-columns: 13.875rem 1fr;
    align-content: center;
    align-self: center;
    justify-self: center;
}

@media (max-width: 1070px) {
    .right {
        grid-row: 1;
    }
}

@media (min-width: 488px) {
    .right {
        max-width: max-content;
        height: min-content;
        display: grid;
        grid-template-rows: 13.6875rem 1fr;
        grid-template-columns: 13.875rem 1fr;
        align-content: center;
        align-self: center;
        justify-self: center;
    }
}