<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About-Page</title>
    <link rel="stylesheet" href="/assest/css/About.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&family=Volkhov:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="About__section">
      <div class="About__Wrapper">
        <div class="About__ticket">
          <h3 class="About__header">ABOUT TICKET XPRESS</h3>
          <p class="first-paragraph">
            Cheap Flights,Train and Affordable Bus Tickets.
          </p>
        </div>
        <div class="About__Text">
          <p class="second-paragraph">
            We are a Nigerian travel booking agency with thousands of travellers
            dedicated to rock the travel world. We want our customers to spend
            less time purchasing their travel tickets. ur mission is to save you
            time, stress and keep you safe from Covid-19 virus with our simple
            online travel ticket booking platform.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>

<div class="flightbooking">
  <div class="flightbooking__container">
    <div class="flightbooking__top">
      <div class="flight__option active">
        <a href="#"
          >Book Flight
          <div class=""><i class="fas fa-plane"></i></div
        ></a>
      </div>
      <div class="flight__option">
        <a href="#"
          >Book Bus
          <div class=""><i class="fas fa-bus"></i></div
        ></a>
      </div>
      <div class="flight__option">
        <a href="#"
          >Book Train
          <div class=""><i class="fas fa-train"></i></div
        ></a>
      </div>
    </div>

    <div class="flightbooking__bottom">
      <div class="flighttypes">
        <div class="filghttype">
          <a href="#"
            >Round Trip
            <div class=""><i class="fas fa-sort-down"></i></div
          ></a>
        </div>
        <div class="filghttype">
          <a href="#"
            >1 Passenger
            <div class=""><i class="fas fa-sort-down"></i></div
          ></a>
        </div>

        <div class="filghttype">
          <a href="#"
            >Economy
            <div class=""><i class="fas fa-sort-down"></i></div
          ></a>
        </div>
      </div>

      <form action="" class="flightform">
        <div class="flightform__from">
          <div class="">
            <label for=""> From where ?</label>
            <input type="text" name="" id="" placeholder="City Or Airport" />
          </div>

          <div class="">
            <label for=""> To where ?</label>
            <input type="text" name="" id="" placeholder="City Or Airport" />
          </div>
        </div>

        <div class="flightform__date">
          <div class="">
            <label for="">Leaving On</label>
            <input type="date" name="" id="" placeholder="City Or Airport" />
          </div>

          <div class="">
            <label for="">Returning On</label>
            <input type="date" name="" id="" placeholder="City Or Airport" />
          </div>
        </div>

        <input type="submit" value="Let's Go" class="flightsubmit" />
      </form>
    </div>
  </div>
</div>
