<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About-Page</title>
    <link rel="stylesheet" href="/assest/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&family=Volkhov:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="About__section">
      <div class="About__Wrapper">
        <div class="About__ticket">
          <h3 class="header">ABOUT TICKET XPRESS</h3>
          <p class="first-paragraph">
            Cheap Flights,Train and Affordable Bus Tickets.
          </p>
        </div>
        <div class="About__Text">
          <p class="second-paragraph">
            We are a Nigerian travel booking agency with thousands of travellers
            dedicated to rock the travel world. We want our customers to spend
            less time purchasing their travel tickets. ur mission is to save you
            time, stress and keep you safe from Covid-19 virus with our simple
            online travel ticket booking platform.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
