<!DOCTYPE html>
<html lang=en>

<head>
	<meta charset=utf-8>
	<meta content="width=device-width,initial-scale=1,shrink-to-fit=no" name=viewport>
	<link href=/assets/css/fast-and-easy.css rel=stylesheet>
</head>

<body>
	<div>
		<div class="main svelte-mt0uyo">
			<div class="svelte-mt0uyo left">
				<h2>Book Your Next Trip In 3 Easy Steps</h2>
				<div class="main svelte-1vf8g8d">
					<div class="svelte-1dtgipm main">
						<div class=icon-container>
							<div class="svelte-1dtgipm icon" style=background-color:#f0bb1f><img src=/assets/images/fast-and-easy/select.png
									alt="small icon for a step to book ticket"></div>
						</div>
						<div class="svelte-1dtgipm text">
							<p class="svelte-1dtgipm heading">Choose Destination</p>
							<p class="svelte-1dtgipm body">Select your vacation/baecation trip to your next destination
						</div>
					</div>
					<div class="svelte-1dtgipm main">
						<div class=icon-container>
							<div class="svelte-1dtgipm icon" style=background-color:#f15a2b><img src=/assets/images/fast-and-easy/sail.png
									alt="small icon for a step to book ticket"></div>
						</div>
						<div class="svelte-1dtgipm text">
							<p class="svelte-1dtgipm heading">Make Payment</p>
							<p class="svelte-1dtgipm body">Select your mode of payment to your preferred location with the most
								securred payment gateway
						</div>
					</div>
					<div class="svelte-1dtgipm main">
						<div class=icon-container>
							<div class="svelte-1dtgipm icon" style=background-color:#006380><img src=/assets/images/fast-and-easy/taxi.png
									alt="small icon for a step to book ticket"></div>
						</div>
						<div class="svelte-1dtgipm text">
							<p class="svelte-1dtgipm heading">Reach Airport, Train or Bus Station on Selected Date</p>
							<p class="svelte-1dtgipm body">Get to your airport, train and or bus sation on your selected date and
								enjoy your trip.
						</div>
					</div>
				</div>
			</div>
			<div class="svelte-mt0uyo right">
				<div class="ongoing svelte-1xdkzb4">
					<div class="main svelte-z3g4cq">
						<div><img src=/assets/images/fast-and-easy/jalingo.png class=svelte-z3g4cq></div>
						<div class=details>
							<p class="svelte-z3g4cq purple">Ongoing</p>
							<p>Trip to Jalingo</p>
							<p>40% Completed</p> <progress class="svelte-z3g4cq progress" max=100 value=40></progress>
						</div>
					</div>
				</div>
				<div class="main svelte-1cux270">
					<div class=image><img src=/assets/images/fast-and-easy/calabar.png alt="Calabar in an example of a booking" class="svelte-1cux270 img">
					</div>
					<h3>Trip To Calabar</h3>
					<p class="svelte-1cux270 trip-details">14th June | By Abayomi</p>
					<div class="svelte-1cux270 icon-row">
						<div class=icon><img src=/assets/images/fast-and-easy/leaf.png></div>
						<div class=icon><img src=/assets/images/fast-and-easy/map.png></div>
						<div class=icon><img src=/assets/images/fast-and-easy/navigation.png></div>
					</div>
					<div class="svelte-1cux270 stats-row">
						<div class=icon><img src=/assets/images/fast-and-easy/building.png></div>
						<p>24 people going</p>
						<div class="icon heart svelte-1cux270"><img src=/assets/images/fast-and-easy/heart.png></div>
					</div>
				</div>
			</div>
		</div>
	</div>