<!DOCTYPE html>
<html lang=en>

<head>
	<meta charset=utf-8>
	<meta content="width=device-width,initial-scale=1,shrink-to-fit=no" name=viewport>
	<link href='../assets/css/fast-and-easy/root.css' rel=stylesheet>
</head>

<body>
	<div>
		<div class=main>
			<div class=left>
				<p class="tagline text-clr">Easy and Fast</p>
				<p class=heading>Book Your Next Trip In 3 Easy Steps</p>
				<div class=steps>
					<div class=step>
						<div class=icon style=background-color:#f0bb1f><img alt="small icon for a step to book ticket"
								src=../assets/images/fast-and-easy/select.png></div>
						<p class=heading>Choose Destination</p>
						<p class=body>Select your vacation/baecation trip to your next destination
					</div>
					<div class=step>
						<div class=icon style=background-color:#f15a2b><img alt="small icon for a step to book ticket"
								src=../assets/images/fast-and-easy/sail.png></div>
						<p class=heading>Make Payment</p>
						<p class=body>Select your mode of payment to your preferred location with the most securred
							payment gateway
					</div>
					<div class=step>
						<div class=icon style=background-color:#006380><img alt="small icon for a step to book ticket"
								src=../assets/images/fast-and-easy/taxi.png></div>
						<p class=heading>Reach Airport, Train or Bus Station on Selected Date</p>
						<p class=body>Get to your airport, train and or bus sation on your selected date and enjoy your
							trip.
					</div>
				</div>
			</div>
			<div class=right>
				<div class=trip>
					<div class=image><img alt="Calabar in an example of a booking" src=../assets/images/fast-and-easy/calabar.png class=img></div>
					<p class=heading>Trip To Calabar</p>
					<p class="grey detail">14th June | By Abayomi</p>
					<div class=button-row>
						<div class=icon><img alt="leaf button icon in ui snapshot" src=../assets/images/fast-and-easy/leaf.png></div>
						<div class=icon><img alt="map button icon in ui snapshot" src=../assets/images/fast-and-easy/map.png></div>
						<div class=icon><img alt="navigation button icon in ui snapshot" src=../assets/images/fast-and-easy/navigation.png></div>
					</div>
					<div class=stats-row>
						<div class="icon building"><img alt="building button icon in ui snapshot" src=../assets/images/fast-and-easy/building.png>
						</div>
						<p class="grey passenger-count">24 people going</p>
						<div class="icon heart"><img alt="heart button icon in ui snapshot" src=../assets/images/fast-and-easy/heart.png></div>
					</div>
				</div>
				<div class=ongoing><img alt="snapshot icon for trip to jalingo" src=../assets/images/fast-and-easy/jalingo.png class=img-round>
					<p class="heading grey">Ongoing</p>
					<p class=title>Trip to Jalingo</p>
					<p class=progress><span class=purple>40%</span> completed</p>
					<div class=progress-bar>
						<div class=progress-value></div>
					</div>
				</div>
			</div>
		</div>
	</div>