<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assest/css/flightform.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="flightbooking">
      <div class="flightbooking__container">
        <div class="flightbooking__top">
            
            <div class="flight__option active">
               <a href="#">Book Flight   <div class=""><i class="fas fa-plane"></i></div></a>
            </div>
            <div class="flight__option">
               <a href="busform.html">Book Bus <div class=""> <i class="fas fa-bus"></i></div></a>
                
            </div>
            <div class="flight__option">
               <a href="trainform.html">Book Train <div class=""><i class="fas fa-train"></i></div></a>
                
            </div>
         
        </div>

        <div class="flightbooking__bottom">
          <div class="flighttypes">
            <div class="filghttype">
              <a href="#">
                Round Trip
                <div class=""><i class="fas fa-sort-down"></i></div>
              </a>
            </div>
            <div class="filghttype">
              <a href="#">
                1 Passenger
                <div class=""><i class="fas fa-sort-down"></i></div>
              </a>
            </div>

            <div class="filghttype">
              <a href="#">
                Economy
                <div class=""><i class="fas fa-sort-down"></i></div>
              </a>
            </div>
          </div>

          <form action="" class="flightform">
            <div class="flightform__conn">
              <div class="flightform__from">
                <div class="">
                  <label for="">From where ?</label>
                  <input
                    type="text"
                    name=""
                    id=""
                    placeholder="City Or Airport"
                  />
                </div>

                <div class="">
                  <label for="">To where ?</label>
                  <input
                    type="text"
                    name=""
                    id=""
                    placeholder="City Or Airport"
                  />
                </div>
              </div>

              <div class="flightform__date">
                <div class="">
                  <label for="">Leaving On</label>
                  <input
                    type="date"
                    name=""
                    id=""
                    placeholder="City Or Airport"
                  />
                </div>

                <div class="">
                  <label for="">Returning On</label>
                  <input
                    type="date"
                    name=""
                    id=""
                    placeholder="City Or Airport"
                  />
                </div>
              </div>
            </div>

            <div class="submitdiv">
              <input type="submit" value="Let's Go" class="flightsubmit" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
