<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&family=Volkhov:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/footer.css" />
  </head>
  <body>
    <footer>
      <div class="footer-container">
        <div class="footer-row">
          <div class="footer-content">
            <h2><img src="/assets/images/logo.png" alt="logo" /></h2>
            <p>Book your Ticket in minute, get full control for much longer.</p>
          </div>
          <div class="footer-content">
            <h2>Company</h2>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Mobile</a></li>
            </ul>
          </div>
          <div class="footer-content">
            <h2>Contact</h2>
            <ul>
              <li><a href="#">Help/FACT</a></li>
              <li><a href="#">Press</a></li>
              <li><a href="#">Affiliates</a></li>
            </ul>
          </div>
          <div class="footer-content">
            <h2>More</h2>
            <ul>
              <li><a href="#">Airlines</a></li>
              <li><a href="#">Train Stations</a></li>
              <li><a href="#">Bus Stations</a></li>
            </ul>
          </div>
        </div>

        <div class="right">
          <p>All rights reserved@TicketExpresss.com</p>
        </div>
      </div>
    </footer>
    <script></script>
  </body>
</html>
