<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ticket Xpress</title>
    <link rel="stylesheet" href="/assets/css/hero.css" />
  </head>
  <body>
    <header>
      <section id="heroSection">
        <section class="hero_cont">
        <div class="heroText">
          <div id="heroText2">
            <div id="hero-decore">
              <img src="/assets/images/Decore (1).svg" alt="" />
            </div>
            <div>
              <h3 id="heroLabel">Best all in one booking platform</h3>
              <div class="test"><h1>Ticket Xpress,</h1></div>
              <h1>your all in one booking ticket.</h1>
            </div>

            <p id="heroDetails">
              Our goal is to centralize transport industry, and make ticket
              bookings to your preffered location easily accessible from the
              comfort of your home.
            </p>

            <a href="#" id="book-Btn"><span>Book</span></a>
          </div>
        </div>

        <div id="hero-Img">
          <img src="/assets/images/Hero-Image.png" alt="" />
        </div>
        </section>
      </section>
    </header>
  </body>
</html>
