<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ticket Xpress</title>
    <link rel="stylesheet" href="/assets/css/navbar.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto+Condensed:ital,wght@0,300;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <img src="/assets/images/logo.png" />
        </div>
        <div class="search">
          <input
            type="search"
            class="fa fa-search search"
            name="search"
            id="search"
            placeholder="Search"
            autofocus
          />
        </div>
        <div class="nav">
          <ul>
            <li><a href="#">Bus</a></li>
            <li><a href="#">Train</a></li>
            <li><a href="#">Flight</a></li>
            <li><a href="#">Bookings</a></li>
            <li><a href="#">Contact Us</a></li>
            <li>
              <a href="#"><button>Login</button></a>
            </li>
            <li><a href="#">EN</a></li>
          </ul>
        </div>
      </nav>
    </header>
  </body>
</html>
