<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services Component</title>
    <link rel="stylesheet" href="../assest/css/services.css" />
  </head>
  <body>
    <section class="services">
      <div class="services__container">
        <div class="services__top">
          <h4>Our Services</h4>
          <h1>We Offer Best Services</h1>
        </div>
        <div class="services__bottom">
                
                <div class="service__card">
                    <div class="service__icon">
                        <img src="../assest/images/servicesimages/Group 48.png" alt="">
                    </div>
                       <h4 class="service__card-title">Book Train</h4>
                       <p class="service__card-body">
                        You can book your train ticket to travel around Nigeria. 
                       </p>
                     </div>
                     <div class="service__card">
                        <div class="service__icon">
                            <img src="../assest/images/servicesimages/Group 51 1 (1).png" alt="">
                        </div>
                           <h4 class="service__card-title">Best Flights</h4>
                           <p class="service__card-body">
                            You can book a flight with us to travel to yout vaction 
                           </p>
                         </div>
                         <div class="service__card">
                            <div class="service__icon">
                                <img src="../assest/images/servicesimages/Group 50.png" alt="">
                            </div>
                               <h4 class="service__card-title">Book Bus</h4>
                               <p class="service__card-body">
                                You can book your bus tickets with us for your trip. 
                               </p>
                             </div>
                             <div class="service__card">
                                <div class="service__icon">
                                    <img src="../assest/images/servicesimages/Group 49.png" alt="">
                                </div>
                                   <h4 class="service__card-title">Customization</h4>
                                   <p class="service__card-body">
                                    You can make a customize request to book all  your tip.
                                   </p>
                                 </div>

            </div>
    </section>
  </body>
</html>
