<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicketXpress SignUp</title>
    <link rel="stylesheet" href="../assets/css/signup.css">
</head>
<body>
    <section class="userform signup">    
             <div class="userform__left">
              <a href="../index.html"> <img src="../assest/images/Hero-image.png" alt="TicketXpress"></a>
             </div>
              <div class="userform__right">
                   <div class="useform__conn">
                    <h1>Welcome </h1>
                     <p class="userform__switch">Don't Have An Account?  <a href="signup.html">Sign Up</a> </p>

                       <div class="alternative__signin">
                      
                          <div class="alt alt1">
                                <button>  <a href="https://www.freepnglogos.com/pics/google-logo" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-webinar-optimizing-for-success-google-business-webinar-13.png" width="200" alt="google logo png webinar optimizing for success google business webinar" /></a>  Sign Up With Google</button>
                          </div>
                          <div class="alt alt2">
                              <button> <a href="https://www.freepnglogos.com/pics/facebook-logo" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/facebook-logo-13.png" width="200" alt="logo facebook download png" /></a>   Sign Up With Facebook</button>
                        </div>
                       </div>

                         <div class="or">
                             <hr>
                             <p>OR</p>
                             <hr>
                         </div>
                      
                          <form action=""  class="userformed">
                           
                          
                            <div class="formGroup">
                                <label for="emailaddress">Email Address</label>
                                <input type="email">
                            </div>
                            <div class="formGroup">
                                <label for="lastname">Password</label>
                                <input type="password">
                            </div>

                            <div class="remember">
                                
                                <div class="rememberMe">
                                    <input type="checkbox" name="" id="">
                                    <label for="">Remeber Me</label>
                                </div>

                                <div class="forgotPass">
                                    <a href="#">Forgot Password?</a>
                                </div>


                            </div>
                             
                            <div class="signsub">
                                <input type="submit" value="Login">
                            </div>

                          </form>


                   </div>
              </div>
    </section>
</body>
</html>