<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ticket Page</title>
    <link rel="stylesheet" href="../assest/css/navbar.css" />
    <link rel="stylesheet" href="../assest/css/footer.css" />
    <link rel="stylesheet" href="../assest/css/ticket_page.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <img src="../assest/images/logo.png" />
        </div>
        <div class="search">
          <input
            type="search"
            class="fa fa-search search"
            name="search"
            id="search"
            placeholder="Search"
            autofocus
          />
        </div>
        <div class="nav">
          <ul>
            <li><a href="#">Bus</a></li>
            <li><a href="#">Train</a></li>
            <li><a href="#">Flight</a></li>
            <li><a href="#">Bookings</a></li>
            <li><a href="#">Contact Us</a></li>
            <li>
              <a href="#"><button>Login</button></a>
            </li>
            <li><a href="#">EN</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="ticketContainer">
      <h1 class="ticketPage-text">What would you like to do?</h1>

      <div class="ticketCard-wrap">
        <div class="ticketCard">
          <div class="bg-Img">
            <img src="../assest/images/Decore.png" alt="" />
          </div>

          <img
            src="../assest/images/add-ticket.png"
            alt=""
            class="ticket-img"
          />
          <h3 class="ticketPage-txt">GET MY TICKET</h3>
          <p class="ticketPage-para">
            Yet to get your ticket? This service allows you to request for
            ticket on a paid booking.
          </p>
          <button class="ticket-pageBtn" onclick="showModal1()"><a>SELECT</a></button>
          <div class="modal-display" id="modal-display1">
            <button class="modal-closure" onclick="closeModal1()">x</button>
            <form action="" class="modal-form">
              <input
                type="text"
                placeholder="First Name"
                class="firstName"
              />
              <input type="text" placeholder="Last Name" class="lastName" />
              <input type="email" placeholder="Email" class="email" />
              <input
                type="button"
                value="SUBMIT"
                class="modal-btn"
                onclick="submitModal1()"
              />
            </form>
          </div>
        </div>

        <div class="ticketCard">
          <div class="bg-Img">
            <img src="../assest/images/Decore.png" alt="" />
          </div>

          <img
            src="../assest/images/change-ticket.png"
            alt=""
            class="ticket-img"
          />
          <h3 class="ticketPage-txt">CHANGE TICKET</h3>
          <p class="ticketPage-para">
            This service allows you to make changes on your ticket such as date
            change, route change and cabin change on your existing bookings
          </p>
          <button
            class="ticket-pageBtn"
            onclick="showModal2()"
          >
            <a>SELECT</a>
          </button>
          <div class="modal-display" id="modal-display2">
            <button class="modal-closure" onclick="closeModal2()">x</button>
            <form action="" class="modal-form">
              <input
                type="text"
                placeholder="Booking Number"
                class="bookingNum"
              />
              <input type="text" placeholder="Last Name" class="lastName" />
              <input type="email" placeholder="Email" class="email" />
              <input
                type="button"
                value="SUBMIT"
                class="modal-btn"
                onclick="submitModal2()"
              />
            </form>
          </div>
        </div>

        <div class="ticketCard">
          <div class="bg-Img">
            <img src="../assest/images/Decore.png" alt="" />
          </div>
          <img src="../assest/images/refund.png" alt="" class="ticket-img" />
          <h3 class="ticketPage-txt">REFUND</h3>
          <p class="ticketPage-para">
            This service allows you to request for a refund on a paid existing
            booking.
          </p>
          <button
            class="ticket-pageBtn"
            onclick="showModal3()"
          ><a>SELECT</a></button>
          <div class="modal-display" id="modal-display3">
            <button class="modal-closure" onclick="closeModal3()">x</button>
            <form action="" class="modal-form">
              <input
                type="text"
                placeholder="Booking Number"
                class="bookingNum"
              />
              <input type="text" placeholder="Last Name" class="lastName" />
              <input type="email" placeholder="Email" class="email" />
              <input
                type="button"
                value="SUBMIT"
                class="modal-btn"
                onclick="submitModal3()"
              />
            </form>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="footer-container">
        <div class="footer-row">
          <div class="footer-content">
            <h2><img src="../assest/images/logo.png" alt="logo" /></h2>
            <p>Book your Ticket in minute, get full control for much longer.</p>
          </div>
          <div class="footer-content">
            <h2>Company</h2>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Mobile</a></li>
            </ul>
          </div>
          <div class="footer-content">
            <h2>Contact</h2>
            <ul>
              <li><a href="#">Help/FACT</a></li>
              <li><a href="#">Press</a></li>
              <li><a href="#">Affiliates</a></li>
            </ul>
          </div>
          <div class="footer-content">
            <h2>More</h2>
            <ul>
              <li><a href="#">Airlines</a></li>
              <li><a href="#">Train Stations</a></li>
              <li><a href="#">Bus Stations</a></li>
            </ul>
          </div>
        </div>

        <div class="right">
          <p>All rights reserved@TicketExpresss.com</p>
        </div>
      </div>
    </footer>

    <script src="../assest/js/ticket_page_modal.js"></script>
  </body>
</html>
