<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/top_destination.css" />
    <title>Ticket Xpress</title>
  </head>
  <body>
    <section>
      <div class="container">
        <div class="top-destination">
          <h1 class="heading">Top Destinations</h1>
          <div class="destinations">
            <div class="destination">
              <div class="dest-img">
                <img src="/assets/images/abuja.png" alt="abuja" />
              </div>
              <div class="dest-card">
                <div class="area">
                  <span><h4>Jabi, Abuja</h4></span>
                  <span><h4>#29, 900</h4></span>
                </div>
                <div class="time">
                  <img src="/assets/images/dest.svg" alt="" />
                  <h4>1 hour</h4>
                </div>
              </div>
            </div>
            <div class="destination">
              <div class="dest-img">
                <img src="/assets/images/yola.png" alt="Yola" />
              </div>
              <div class="dest-card">
                <div class="area">
                  <span><h4>Yola, Adamawa</h4></span>
                  <span><h4>#34, 200</h4></span>
                </div>
                <div class="time">
                  <img src="/assets/images/dest.svg" alt="" />
                  <h4>1hr 50mins</h4>
                </div>
              </div>
            </div>
            <div class="destination">
              <div class="dest-img">
                <img src="/assets/images/akwa-ibom.png" alt="akwa-ibom" />
              </div>
              <div class="dest-card">
                <div class="area">
                  <span><h4>Akwa Ibom, Uyo</h4></span>
                  <span><h4>#25k</h4></span>
                </div>
                <div class="time">
                  <img src="/assets/images/dest.svg" alt="" />
                  <h4>1 hour</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
s
