@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Volkhov&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

#heroSection {
  width: 100%;
  background-image: url("../images/Decore.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  /* z-index: -1; */
}

/* .hero_cont {
  width: 80%;
  margin: auto;
} */

.heroText {
  width: 644px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_section_container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
}

#heroText2 {
  height: 300px;
  width: 80%;
  /* padding: 20px; */
  margin-top: 30px;
}

.heroText h1 {
  font-size: 70px;
  margin: 0px;
  letter-spacing: -0.04em;
  line-height: 75px;
  color: #181e4b;
  /* margin-bottom: 10px; */
  padding: 30px 0;
  /* z-index: 1000; */
}

/* .test::before {
  content: url("../images/Decore\ \(1\).svg");
  position: absolute;
  width: 30px;
  top: 305px;
  left: 400px;
} */

/* .test {
  z-index: 5;
} */

/* #heroLabel2::before {
        content: url('../images/Decore\ \(1\).svg');
        transform: translate(-90%, 50%);
} */

/* #hero-decore {
  position: absolute;
  left: 275px;
  width: 310px;
  height: 12px;
  top: 291px;
  z-index: 1;
 } */

/* .heroLabel2 {
      background-image: url('../images/Decore\ \(1\).png');
      background-repeat: no-repeat;
      background-position: relative;
      top: 300px;
      
 } */

#hero-decore img {
  position: absolute;
  left: 275px;
  width: 310px;
  height: 12px;
  top: 302px;
}

.heroText p {
  font-size: 16px;
  margin-bottom: 30px;
  letter-spacing: -0.04em;
  color: #5e6282;
  margin-bottom: 10px;
}

#heroLabel {
  color: #df6951;
  text-transform: uppercase;
  font-size: 20px;
}

#hero-Img {
  position: relative;
  width: 520px;
  height: 650px;
  top: 60px;
  /* left: 70px; */
  object-fit: contain;
}

#book-Btn {
  text-decoration: none;
  width: 120px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1a501;
  color: #ffffff;
  border-radius: 10px;
  outline: none;
  margin-top: 10px;
  font-family: "Volkhov", sans-serif;
  font-size: 22px;
}
