* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  position: fixed;
  z-index: 100;
  padding: 0.5rem 1rem;
  transition: 0.3s ease-in;
}

header.bg-white {
  background-color: #fff;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.19);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
}

.search,
.nav {
  margin-top: 10px;
}

input[type="text"] {
  width: 396px;
  font-family: "poppins", sans-serif;
  color: black;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.29);
  padding: 0.5rem 0.8rem;
  border-radius: 999px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  padding: 15px;
  list-style: none;
  display: flex;
  font-family: "Poppins", sans-serif;
}

.nav li button {
  background-color: #fff1da;
  border: 0.5px solid black;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: bold;
  width: 102px;
  height: 35px;
  left: 1128px;
  top: 32px;
}

.fa-search {
  background-color: #fff1da;
  color: #212832;
  margin-left: 15px;
  margin-top: 7px;
}

.nav li button:hover {
  color: brown;
  transition: ease-in-out 0.5s;
  cursor: pointer;
}

nav a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: normal;
}

a:hover {
  color: brown;
  transition: ease-in-out 0.5s;
}
