.newsletter {
  position: relative;
  height: 407px;
  background: #dfd7f983;
  border-radius: 120px 20px 20px 20px;
  margin:35px auto;
  width: 90%;
  
}

.newsletter__rings {
  opacity: 0.2;
  z-index: -1;
}
.rings1 {
  position: absolute;
  top: 130px;
  left: 20px;
}

.rings2 {
  position: absolute;
  right: 0;
}

.newsletter__heading {
  margin: 0 100px;
  padding: 50px 100px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 33px;
  line-height: 54px;
  color: #5e6282;
  text-align: center;
}

.newsletter__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.newsletter__input {
  position: relative;
  max-width: 50%;
}

.newsletter__icon {
  width: 21px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 15px;
  top: 25px;
}

.newsletter__text-box {
  background-repeat: no-repeat;
  width: 421px;
  height: 68px;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-right: 40px;
  padding-left: 50px;
}

.btn {
  width: 180px;
  height: 68px;
  border: none;
  font-size: 20px;
  color: #ffffff;
  background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  border-radius: 10px;
}


@media(max-width:750px){

   .newsletter {
     height: initial;
     overflow: hidden;
     border-radius: 10px;
    padding: 1.5rem;
   }

   .newsletter__heading {
    margin:auto;
    padding:1rem 1.5rem;
    font-size: 23px;
    line-height: 34px;
   margin-bottom: 20px;   
  }
  
.newsletter__form {
 flex-direction: column;
 align-items: flex-start;
}

.btn {
  margin-top:20px;
  width:initial;
  padding: 1.2rem 2rem;
  height: initial;
  font-size: 17px;
}



}



@media(max-width:450px){
  
.newsletter__input {
  position: relative;
  max-width: 50%;
}

.newsletter__icon {
  width: 21px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 15px;
  top: 25px;
}

.newsletter__text-box {
  background-repeat: no-repeat;
  width: 200px ;
  height: 68px;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-right: 40px;
  padding-left: 50px;
}

}