* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  column-count: 3;
  column-gap: 25px;
  column-rule: 2px none #3366ff;
}

.leftbar {
  /* display: flex;
  margin-top: 10px;
  padding: 20px;
  max-width: 25%;
  align-items: center;
  justify-content: center; */
  position: absolute;
  width: 350px;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: #3366ff;
}

.main {
  /* display: flex;
  max-width: 50%;
  align-items: center;
  justify-content: center; */
  position: absolute;
  width: 700px;
  height: 100vh;
  left: 350px;
  margin-left: 20px;
  /* top: 0px; */
  border-radius: 50px;
  background-color: aqua;
}

.rightbar {
  /* display: flex;
  max-width: 25%;
  align-items: center;
  justify-content: center; */
  position: absolute;
  width: 350px;
  height: 100vh;
  margin-left: 20px;
  left: 1070px;
  top: 0px;
  background-color: black;
}
